openapi: 3.1.0
info:
  title: Dineroo API
  version: v1
  contact:
    name: API Management Team
    url: https://dineroo.api.com
    email: dineroo.cfg@gmail.com

servers:
  - url: http://localhost:8080
    description: Local development server

paths:
  /v1/users:
    $ref: './paths/users.yaml#/postUser'
  /v1/users/token:
    $ref: './paths/users.yaml#/postUserToken'
  /v1/users/verify-code:
    $ref: './paths/users.yaml#/verifyCode'
  /v1/users/upload-file:
    $ref: './paths/users.yaml#/uploadFile'
  /v1/users/{userId}/download-file:
    $ref: './paths/users.yaml#/downloadFile'
  /v1/users/{userId}:
    $ref: './paths/users.yaml#/updateUserProfile'
  /v1/users/validate-code:
    $ref: './paths/users.yaml#/validateCode'
  /v1/users/send-code:
    $ref: './paths/users.yaml#/sendVerificationCode'
  /v1/users/{userId}/reset-code-pin-with-id:
    $ref: './paths/users.yaml#/resetCodePinWithUserId'
  /v1/users/{userId}/reset-code-pin-with-phone:
    $ref: './paths/users.yaml#/resetCodePinWithPhoneNumber'
  /v1/users/{telephone}:
    $ref: './paths/users.yaml#/getUserByPhone'
  /v1/admin/couriers/decision:
    $ref: './paths/users.yaml#/decision'
  /v1/admin/couriers/pending-approval:
    $ref: './paths/users.yaml#/pendingCouriers'
  /v1/admin/users/{userId}/logout:
    $ref: './paths/users.yaml#/logout'
  /v1/admin/users/{userId}:
    $ref: './paths/users.yaml#/disableAccount'
  /v1/admin/users:
    $ref:  './paths/users.yaml#/userList'

  /v1/organizations:
    $ref: './paths/users.yaml#/organizations'
  /v1/organizations/{organizationId}/members:
    $ref: './paths/users.yaml#/members'


  /v1/restaurants:
    $ref: './paths/restaurants.yaml#/getRestaurants'
  /v1/restaurants/{restaurantId}:
    $ref: './paths/restaurants.yaml#/getRestaurantById'
  /v1/restaurants/{restaurantId}/menus/{menuId}:
    $ref: './paths/restaurants.yaml#/getMenuById'
  "/v1/restaurants/files/upload":
    $ref: './paths/restaurants.yaml#/uploadRawData'
  "/v1/restaurants/{id}":
    $ref: './paths/restaurants.yaml#/updateRestaurant'
  "/v1/restaurants/{id}/menus":
     $ref: './paths/restaurants.yaml#/fetchMenus'
  /v1/restaurants/{restaurantId}/orders/{orderId}/accept:
     $ref: './paths/restaurants.yaml#/acceptOrder'
  /v1/restaurants/{restaurantId}/orders/{orderId}/reject:
    $ref: './paths/restaurants.yaml#/rejectOrder'

  /order-event:
    $ref: './paths/websocket.yaml#/receiveOrderCreationEvent'

  /v1/orders:
    $ref: './paths/orders.yaml#/orders'
  /v1/orders/{id}:
    $ref: './paths/orders.yaml#/getOrderById'
  /v1/customers/{customerId}/orders:
    $ref: './paths/orders.yaml#/getOrdersByCustomer'
  /v1/orders/{id}/cancel:
    $ref: './paths/orders.yaml#/cancelOrder'


  /v1/payments:
    $ref: './paths/payments.yaml#/createPayment'
  /v1/payments/{id}:
    $ref: './paths/payments.yaml#/getPaymentById'
  /v1/payments/gateway/notifications:
    $ref: './paths/payments.yaml#/notifyGatewayTransaction'

components:
  schemas:
    Credential:             { $ref: './components/schemas/Credential.yaml' }
    CustomerRequest:        { $ref: './components/schemas/CustomerRequest.yaml' }
    Menu:                   { $ref: './components/schemas/Menu.yaml' }
    MenuResponse:           { $ref: './components/schemas/MenuResponse.yaml' }
    OrderItemRequest:       { $ref: './components/schemas/OrderItemRequest.yaml' }
    OrderItemResponse:      { $ref: './components/schemas/OrderItemResponse.yaml' }
    OrderRequest:           { $ref: './components/schemas/OrderRequest.yaml' }
    OrderResponse:          { $ref: './components/schemas/OrderResponse.yaml' }
    Product:                { $ref: './components/schemas/Product.yaml' }
    Restaurant:             { $ref: './components/schemas/Restaurant.yaml' }
    RestaurantItem:         { $ref: './components/schemas/RestaurantItem.yaml' }
    RestaurantCollection:   { $ref: './components/schemas/RestaurantCollection.yaml' }
    User:                   { $ref: './components/schemas/User.yaml' }


  responses:
    ErrorResponse:          { $ref: './components/responses/ErrorResponse.yaml' }

tags:
  - name: Restaurant Management
    description: Endpoints for managing restaurants, menus, and products
  - name: User Management
    description: Endpoints for managing users
  - name: Order Management
    description: Endpoints for managing orders
